<nav class="navbar navbar-light bg-light">
    <div class="nav1">
        <img src="../../img/1.png" alt="" width="220px">

    </div>
</nav>


<div class="container">

    <br>
    <div class="row">
        {{#each restaurants}}
        <div class="col-4">

            <div class="card-deck" style=" height: 22rem;">
                <div class="card">
                    <img src="{{imageURL}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <b class="card-text">ที่อยู่ของร้าน : {{add}}</b><br>
                        <b class="card-text">อาหารประเภท : {{type}}</b><br>
                        <b class="card-text">ราคา : {{price}} บาท</b><br><br>

                    </div>

                </div>
            </div>
            <br><br><br><br>
        </div>
        {{/each}}
    </div>
</div>